.background {
    background-image: url("../images/darkness.png") ;
    z-index: -1;
    width: 100%;
    position: relative;
}


.timerDiv {
    position: absolute;
    color: aliceblue;
    width:250px;
    left:0;
    right:0;
    margin:143px auto;

}









.home {
    position: absolute;
    max-width: 250px;
    left:0;
    right:0;
    margin:143px auto;
    color: aliceblue;
    
    border: 3px groove aliceblue;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: #887d6f8c;
   
   
}

.questionDiv {
    position: absolute;
    max-width: 250px;
    color: aliceblue;
    left:0;
    right:0;
    margin:143px auto;
    border: 3px groove aliceblue;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: #887d6f8c;
    
    
}

.questionDiv2 {
    position: absolute;
    width: 250px;
    color: aliceblue;
    left:0;
    right:0;
    margin:143px auto;
    border: 3px groove aliceblue;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: #887d6f8c;
    
}
.questionDiv3 {
    position: absolute;
    width: 250px;
    color: aliceblue;
    left:0;
    right:0;
    margin:143px auto;
    border: 3px groove aliceblue;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: #887d6f8c;
   
}
.questionDiv4 {
    position: absolute;
    width: 250px;
    color: aliceblue;
    left:0;
    right:0;
    margin:143px auto;
    border: 3px groove aliceblue;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: #887d6f8c;
    
}
.questionDiv5 {
    position: absolute;
    width: 250px;
    color: aliceblue;
    left:0;
    right:0;
    margin:128px auto;
    border: 3px groove aliceblue;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: #887d6f8c;
    
}

.final {
    position: absolute;
    width: 250px;
    color: aliceblue;
    left:0;
    right:0;
    margin:105px auto;
    border: 3px groove aliceblue;
    border-radius: 20px;
    padding: 45px;
    text-align: center;
    background-color: #887d6f8c;
    

}
